/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.topbar{
		display: none;
	}
	.navigation-bar .navbar-left-menu {
	    display: none;
	}
	.navigation-bar .navbar-right-menu{
		display: none;
	}
	.navigation-bar.nav-icon{
		margin-top: 5px;
	}
	.logo{
		margin-top: -68px;
	}
	.banner{
		width: 100%;
	}
	.carousel-inner{
		margin-top: -50px;
	}
	.container-bg-light{
		display: none;
	}
	.text-left{
		margin-top: 0px;
		margin-left: 0px;
	}
	.box-img{
		display: none;
	}
	.center-box1{
		width: 100%;
   		margin-left: 0px;
	}
	.oberoi-book-direct
	{
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
