*{
	box-sizing: border-box;
}
body{
	margin: 0px
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.headlog{
	background-color:;
	width: 15%;
	height: auto;
	padding: 10px;
	float: left;
}
.headnav{
	background-color:#white;
	width:85%;
	height:auto;
	float:left;
	padding:10px;
}
.banner{

	background-size: 100% 100%;
	background-image: url(strawberry-g317c46a11_1920.jpg );
	width: 100%;
	height:900px;
	float: left;
	padding: 100px;
	color:blue;
	font-size: 30px;
}

.box1{
	width: 50%;
	height: auto;
	float: left;
	padding: 0px;
}
.box2{
	width:50%;
	height:auto;
	float:left;
	padding:0px;
	margin-top: 140px;
	color: white;
}
.health_text{
	font-size: 35px;
	font-family: italic
}
.btn{
	border-radius: 0px;
	text-align: center;
	padding: 20px 80px;
    color: red;
    margin: 20px 10px 0px 0px;
    background-color: white;
}
.btn:hover {
  background-color: #747376;
  color: white;
}
.sidebar{
	height: auto;
	width: 10%;
	background-color: white;
	float: left;
	padding: 0px;

}
.mainbar{
	height: auto;
	width: 80%;
	float: left;
	padding: 10px 0px 0px 0px;
}
.box3{
	width: 40%;
	height: auto;
	float: left;
	border-color: #8C45E2;
	font-size: 25px;
	font-family: arial;
	margin-top: 30px;
}
.btn1{
	border-radius: 0px;
	text-align: center;
	padding: 20px 80px;
    color: #A74AC7;
    background-color: #000;
    color: white;
    margin-top: 20px;
}
.btn1:hover {
  background-color: #747376;
  color: white;
}
.box4{
	width: 60%;
	height: auto;
	float: left;
	padding: 45px 0px 56px 0px;
    
}
.inerbox{
	width: 28.33%;
	height: auto;
	float:left;
	margin: 6px;
	padding: 48px 5px 110px 10px ;
	text-align:center;
	background-color: #8C45E2;
	color: white;
}
.inerbox1{
	width: 28.33%;
	height: auto;
	float:left;
	margin: 6px;
	padding: 48px 5px 110px 10px ;
	text-align:center;
	background-color: #E00CA6;
	color: white;
}
.inerbox2{
	width: 28.33%;
	height: auto;
	float:left;
	margin: 6px;
	padding: 48px 5px 110px 10px ;
	text-align:center;
	background-color: #42236C;
	color: white;
}
.button1{
	border-radius: 0px;
	text-align: center;
	padding: 20px 80px;
    color: white;
    margin: 20px 10px 0px 0px;
    background-color:black;
}
.baner1{

	background-size: 100% 100%;
	background-image: url(strawberries-ga6d7efda0_1920.jpg);
	width: 100%;
	height: 700px;
	padding: 100px;
	color:white;
	font-size: 30px;
}
.box5{
	float: right;
	margin-top: 100px;
}
.box6{
	width: 50%;
	height: auto;
	float: left;
	padding: 50px;
    
}
.button2{
	border-radius: 0px;
	text-align: center;
	padding: 15px 150px;
    color: white;
    margin: 20px 10px 0px 0px;
    background-color:black;
}
.button2:hover {
  background-color: #747376;
  color: white;
}
.inputbox{
	width: 58%;
	height:10%;
	padding: 10px;
}
.baner2{
	float: left;
	background-color: #A74AC7 ;
	height: auto;
	width: 100%;
	color: white;
}
.sidebar1{
	width: 10%;
	background-color: white ;
	float: left;
	padding: 0px;
}
.mainbar1{
	width: 80%;
	margin: auto;
}
.baner2box1{
	float: left;
	width: 33.33%;
	height: auto;
	padding: 2px 2px 2px 2px;
}
.baner3{
	height: 700px;
	background-color: #6a4aa1;
}
.text-1{
	font-size: 25px;
	font-family: arial;
	color: white;
}
.baner2inerbox1{
	width: 10%;
	height: auto;
	color: white;
	float: left;
}
.baner2inerbox2{
	width: 90%;
	height: auto;
	color: white;
	float: left;
	font-family: arial;
}
.baner3box1{
	float: left;
	width: 33.33%;
	height: auto;
	padding: 2px 2px 2px 2px;
}
.text{
	font-size: 10px;
	width: 30%;
	margin-left: 200px;
	margin-top: 120px;
	font-family: arial;	
	line-height: 24px;
}
.btn_1{
	border-radius: 0px;
	text-align: center;
	padding: 20px 80px;
    color: #A74AC7;
    background-color: #6a4aa1;
    color: white;
    margin-top: 20px;
}
.btn_1:hover {
  background-color: #747376;
  color: white;
}
.img_left{
	width: 587px;
    height: 587px;
    background-position: 50% 50%;
    margin: 47px auto 0 131px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(gffg.jpg);
}
.text-right{
	float: right;
	width: 20%;
	font-family: arial;
	margin-right: 200px;
	font-size: 21px
}
.container_bg{
	background-color: #e5e5e5;
	height: 900px;
	width: 100%;
}

.img_right{
	min-height: 539px;
    background-image: url(-min.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 32%;
    background-size: cover;
    margin-top: 240px;
    float: right;
    margin-right: 328px;
}
.box_left{
	min-height: 539px;
    background-color: white;
    width: 31%;
    background-size: cover;
    margin-top: 240px;
    float: left;
    margin-left: 233px;
}
.u-text{
	font-size: 33px;
    font-family: system-ui;
    margin-top: -28px;
    word-break: keep-all;
}
.contain_taxt{
	text-align: center;
    font-size: 32px;
    color: #6a4aa1;
    margin-top: 70px;
    font-family: arial;
}
.h3{
	font-size: 18px;
	color: #000;
	text-align: center;
	font-style: italic;
	margin-top: -24px;
}
.gallery{
	width: 31%;
	margin: 1%;
	float: left;
	transition-duration: 1s;
}
.gallery:hover{
	 box-shadow: 0 0 30px #000;
	 opacity:0.5;
	 transform:scale(1.5,1.5);
	 transform:rotate(360deg);
}
.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-2-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.img{
	width: 100%;
}
.container_bg1{
	background-color: #e5e5e5;
	height: 900px;
	width: 100%;
	margin-top: 100px;
}

.box_right1{
	min-height: 700px;
    width: 32%;
    background-color: white;
    margin-top: 100px;
    float: right;
    margin-right: 373px;
}
.right_contain{
	    margin-top: 522px;
    /* width: 100%; */
    font-size: 18px;
    padding: -1px;
    line-height: 33px;
    /* float: left; */
    font-family: arial;
}
.box_left1{
	min-height: 700px;
    background-color: #e5e5e5;
    width: 31%;
    background-size: cover;
    margin-top: 100px;
    float: left;
    margin-left: 189px;
}
.u-text1{
	font-size: 23px;
    font-family: system-ui;
}

.u_container{
	width: 90%;
	font-size: 20px;
	color: #000;
	margin-top: 31px;
	line-height: 37px;
	float: left;
	margin-left: 10px;
}
.btn_{
	border-radius: 0px;
	text-align: center;
	padding: 20px 80px;
    color: #A74AC7;
    background-color: #000;
    color: white;
    margin-top: 80px;
    float: left;
    margin-left: 30px;
}
.footer{
	background-color: #333333;
	height: 300px;
	width: 100%;
}
.-text{
	color: white;
    text-align: center;
    font-family: arial;
    font-size: 40px;
    width: 100%;
    margin-top: 50px;
}